

.pagination {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.page-item {
    margin: 0 5px;
}

.page-link {
    color: #333;
    padding: 1vw;
    background-color: #fff;
    /* border: 1px solid #ddd; */
    text-decoration: none;
    border-radius: 4px;
    transition: all 0.3s;
}

.page-link:hover {
    color: #fff;
    background-color: #a71723;
    transition: all 0.3s;
}

.page-item.active .page-link {
    background-color: #d11a29;
    color: white;
}

.adminDeleteBtn{
    padding: 1vh 1vw;
    width: 8vw;
    border-radius: 1vw;
    border: none;
    color: white;
    font-weight: 600;
    background-color: rgb(220, 20, 20);
    cursor: pointer;
    transition: all 0.3s;
}

.adminDeleteBtn:hover{
    background-color: rgb(184, 14, 14);
    transition: all 0.3s;
}

.adminDeleteForm{
    position: absolute;
    left: 75%;
    align-items: center;
    top: 80%;
    /* width: 10vw; */
    cursor: pointer;
    transform: translate(-50%, -50%);
}
