

.startError{
    text-align: center;
}

.appName{
    display: flex;
    align-items: center;
    margin-top: 10vh;
    justify-content: center;
}

.appName img{
    width: 5vh;
    height: 5vh;
    object-fit: cover;
    margin-right: 1vw;
}

.appName h1{
    margin: 0;

}

.logRegis{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formBox{
    display: flex;
    width: 31vw;
    margin: 1vh;
    padding: 1vh 1vw;
}

.formField{
    width: 18vw;
    padding-left: 1vw;
    background-color: rgb(224, 224, 224);
    border-radius: 1vw;
    border: none;
}

.formBtn{
    padding: 2vh 2vw;
    margin: 1vh;
    color: white;
    background-color: rgb(239, 62, 62);
    border: none;
    border-radius: 1.5vw;
    cursor: pointer;
    font-weight: 600;
    transition: all 0.3s;
}

.formBtn:hover{
    background-color: rgb(173, 43, 43);
    transition: all 0.3s;
}

.formLabel{
    padding: 1vh 1vw;
    margin-right: auto;
}

.formText{
    text-align: center;
    margin: 1vh;
}

.profileContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 1vh;
}

#profileImg{
    border-radius: 50%;
    width: 10vh;
    object-fit: cover;
    height: 10vh;
}

.grayBtn{
    padding: 2vh 2vw;
    margin: 1vh;
    color: white;
    background-color: gray;
    border: none;
    transition: all 0.3s;
    border-radius: 1.5vw;
    cursor: pointer;
    font-weight: 600;
}

.grayBtn:hover{
    background-color: rgb(74, 74, 74);
    transition: all 0.3s;
}
